<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benben"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.benben.app.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.benben.ui.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.benben.ui.activity.MainActivity"
            android:launchMode="singleTask" />
         <activity
            android:name="com.benben.ui.activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.benben.ui.activity.SettingsActivity" />
        <activity android:name="com.benben.ui.activity.RegistStep1Activity" />
        <activity android:name="com.benben.ui.activity.RegistStep2Activity" />
        <activity android:name="com.benben.ui.activity.RegistStep3Activity" />
        <activity android:name="com.benben.ui.activity.MyInfoActivity" />
        <activity android:name="com.benben.ui.activity.EditNameActivity" />
        <activity android:name="com.benben.ui.activity.PersonalCenterActivity" />
        <activity android:name="com.benben.ui.activity.ChatActivity" />
        <activity android:name="com.benben.ui.activity.ContactActivity"
            android:theme="@style/StyledIndicators"
             />
        <activity android:name="com.benben.ui.activity.PersonalOrderActivity"
            android:theme="@style/StyledIndicators"
             />
       
    </application>

</manifest>